#section_admin_main{
  height:250px;
  text-align: center;
  background-color: rgb(245,245,244,230);
  border-top:1px solid rgb(185, 185, 185);
}
#section_admin_main div{
  margin-top:15px;
}
.admin_div img{
  width:130px;
  border-radius: 5px;
}
.admin_div img:hover{
  box-shadow: 3px 3px 3px rgba(192, 192, 191, 180);
  border-radius: 5px;
  width:130px;
}
.admin_div a:link{
  text-decoration: none;
  color:rgb(127,127,127,120);
}
.admin_div a:visited{
  text-decoration: none;
  color:rgb(127,127,127,120);
}
.admin_div a{
  height:300px;
  margin-top:30px;
  text-decoration: none;
  color:rgb(127,127,127,120);
}
.admin_div a:hover{
  text-decoration: none;
  color:rgb(180,180,180,120);
}
.admin_div{
  display: inline-block;
  width:200px;
}

/* ---------------------------------------------------------------------------- */

#admin_member_section{
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(245,245,244,230);
  margin-bottom:15px;
}
#admin_member_section h1{
  color:rgb(127,127,127,120);
}
#div_send_message button{
  text-decoration: none;
  cursor:pointer;
}
#div_send_message button:hover{
  text-decoration: none;
  cursor:pointer;
}
#admin_member_section .button_a{
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  width:80px;
}
#admin_member_section .button_a:hover{
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  width:80px;
}
#search_form{
  height:40px;
  margin:0;
  padding:0;
}
#search_form_div1{
  display: inline-block;
  height:35px;
  width:40%;
  vertical-align: middle;
}
#search_form_div2{
  display: inline-block;
  float: right;
  position: right;
  height:35px;
  vertical-align: middle;
}
#search_form_div2 *{
  display: inline-block;
}
#search_kind{
  height:36px;
  border:2px solid lightgray;
  outline: none;
  margin-left:5px;
}
#admin_member_search_text{
  padding:0;
  margin:0;
  height:32px;
  width:300px;
  border:2px solid lightgray;
  outline: none;
}
#admin_member_search_text:focus{
  padding:0;
  margin:0;
  height:32px;
  width:300px;
  outline: none;
  background-color: #eeeeee;
}
#search_submit{
  height:30px;
  width:120px;
  outline: none;
  border:2px solid lightgray;
  margin-right: 5px;
  border-radius:15px;
}
#search_submit:hover{
  cursor: pointer;
  height:30px;
  width:120px;
  outline: none;
  background-color: #bbbbbb;
  border:2px solid lightgray;
  margin-right: 5px;
  border-radius:15px;
}
#button_delete, #button_update, #button_accept, #button_reject{
  outline: none;
  border:2px solid lightgray;
  border-radius:15px;
  /* width:90px; */
}
#button_delete:hover, #button_update:hover, #button_accept:hover, #button_reject:hover{
  cursor: pointer;
  outline: none;
  background-color: #bbbbbb;
  border:2px solid lightgray;
  border-radius:15px;
}
input.switch_check {
  position: relative;
  top:6px;
  width:30px;
  height:15px;
  -webkit-appearance:none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  transition: .1s;
}
input.switch_check:after {
 content: "";
 position: absolute;
 top: 1px;
 left: 1px;
 width: 12px;
 height: 12px;
 background-color: #fff;
 border-radius: 50%;
 box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}
input.switch_check:checked {
 border-color: rgb(6, 95, 187);
 box-shadow: inset 20px 0 0 0 #4ED164;
}
input.switch_check:checked:after {
 left: 20px;
 box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}
.admin_member_table_tr1{
  background-color: rgb(127,127,127,120);
  color:rgb(245,245,244,230);
  border-bottom:1px solid black;

}
#admin_member_table td{
  text-align: center;
  height:60px;
}
#div_send_message{
  width:0;
  height:0;
  overflow: hidden;
  position: absolute;
}
#td_send_message:hover #div_send_message{
  width:180px;
  height:45px;
  overflow: hidden;
  position: absolute;
}
#button_send_message{
  outline: none;
  border:2px solid lightgray;
  margin-right: 5px;
  border-radius:15px;
}
#button_send_message:hover{
  outline: none;
  background-color: #bbbbbb;
  border:2px solid lightgray;
  margin-right: 5px;
  border-radius:15px;
}
#admin_member_button_list{
  outline: none;
  border:2px solid lightgray;
  margin-right: 5px;
  border-radius:15px;
}
#admin_member_button_list:hover{
  outline: none;
  background-color: #bbbbbb;
  border:2px solid lightgray;
  margin-right: 5px;
  border-radius:15px;
}
#admin_member_list_div{
  display: inline-block;
}
#admin_member_next_prev_div{
  display: inline-block;
  float:right;
  margin-right:50px;
}
