*{
  /* border:0.1px solid red; */
}
#admin_freegoods_section{
  margin-left:20%;
  margin-right:20%;
}
.gesipan_div{
  text-align: center;
}
.gesipan_div a{
  color:black;
  font-weight: bold;
  text-decoration: none;
  font-size:8pt;
}
.gesipan_div a:visited{
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.gesipan_div a:link{
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.img_div{
  display: inline-block;
}
#main_img{
  width:250px;
  height:200px;
}
figure.snip1368 {
position: relative;
overflow: hidden;
margin: 7.1px;
width:250px;
height:250px;
/*   width: 100%; */
color: black;
line-height: 1.4em;
border:2px solid white;
border-radius: 5px;
background-color: rgb(245,245,244,230);
}
figure.snip1368:hover{
  box-shadow: 8px 13px 20px rgba(192, 192, 191, 180);
  border-radius: 2px;
}

figure.snip1368 * {
/* transition: all 0.4s ease; */
}

figure.snip1368 figcaption {
position: absolute;
top: 0%;
z-index: 1;
text-align: right;
transform: translateX(400px);
}

figure.snip1368 .icons {
margin-top: 10px;
}

figure.snip1368 #checkimg {
padding: 0px 8px;
display: inline-block;
font-size: 24px;
color: black;
text-align: center;
opacity: 0.7;
vertical-align: middle;
}

figure.snip1368 #checkimg:hover {
opacity: 1;
transition: all 0.5s ease;
}
.checkimg_span{
  vertical-align: middle;
}
#like{
z-index: 1;
}

figure.snip1368:hover figcaption{
  transform: translateX(165px);
  transition: all 0.5s ease;
}
figure.snip1368.hover figcaption {

}

.hover_img {
position: absolute;
top: 20px;
left: 20px;
width: 25px;
height: 25px;
text-align: center;
/* 추가된 부분 */
opacity: 0;
transform: scale(2);
}
meta
.icons span {
color: black;
}
.list_title_div_a_float_right{
  float:right;
}
/* 추가된 부분 */
.snip1368:hover .hover_img {
opacity: 1;
transition: all 0.5s ease;
}
.list_title_div{
  color:black;
  font-size:8pt
}
.go_free_goods_img_class:hover{
  cursor: pointer;
}
/*--------------------------------------------------------------------------------*/
#admin_member_section{
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(245,245,244,230);
  margin-bottom:15px;
}
#admin_member_section h1{
  color:rgb(127,127,127,120);
}
#admin_member_section .button_a{
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  width:80px;
}
#admin_member_section .button_a:hover{
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  width:80px;
}
#freegoods_search_form{
  height:40px;
  margin:0;
  padding:0;
}
#freegoods_search_form_div1{
  display: inline-block;
  height:35px;
  width:50%;
  vertical-align: middle;
}
#freegoods_search_form_div2{
  display: inline-block;
  float: right;
  position: right;
  height:35px;
  vertical-align: middle;
}
#freegoods_search_form_div2 *{
  display: inline-block;
}
#freegoods_search_kind{
  height:36px;
  border:2px solid lightgray;
  outline: none;
  margin-left:5px;
}
#admin_freegoods_search_text{
  padding:0;
  margin:0;
  height:32px;
  width:250px;
  border:2px solid lightgray;
  outline: none;
}
#admin_freegoods_search_text:focus{
  padding:0;
  margin:0;
  height:32px;
  width:250px;
  border:2px solid lightgray;
  outline: none;
  background-color: #eeeeee;
}
#admin_freegoods_button_list{
  height:30px;
  width:150px;
  outline: none;
  border:2px solid lightgray;
  border-radius:15px;
}
#admin_freegoods_button_list:hover{
  cursor: pointer;
  height:30px;
  width:150px;
  outline: none;
  background-color: #bbbbbb;
  border:2px solid lightgray;
  border-radius:15px;
}
.list_title_div_span_bold{
  text-align: none;
}
.list_title_div div{
  text-align: left;
}
#pick_date_submit{
  height:30px;
  width:150px;
  outline: none;
  border:2px solid lightgray;
  border-radius:15px;
}
#pick_date_submit:hover{
  cursor: pointer;
  height:30px;
  width:150px;
  outline: none;
  background-color: #bbbbbb;
  border:2px solid lightgray;
  border-radius:15px;
}
#pick_date{
  height:30px;
  width:200px;
  border:2px solid lightgray;
  outline: none;
}
#pick_date:focus{
  height:30px;
  width:200px;
  outline: none;
  background-color: #eeeeee;
}
.form_pick_date_div{
  text-align: center;
}
