@font-face{
  font-family:"1Abraham"; /*폰트 패밀리 이름 추가*/
  src:url("../font/1 Abraham.OTF"); /*폰트 파일 주소*/
}
@font-face{
  font-family:"Hansief"; /*폰트 패밀리 이름 추가*/
  src:url("../font/Hansief.OTF"); /*폰트 파일 주소*/
}
#company_brand_logo *{
font-family: "Hansief";
}
#company_brand_logo{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

#company_brand_title{
  font-family:"1Abraham";
  font-size: 30pt;
  border-bottom: 1px solid lightgray;
}
#img_plate{
  height:200px;
  text-align: center;
}

#download, #font{
  text-align: center;
  height:250px;
  font-size: 20pt;
}
#color{
  height:500px;
  font-size: 20pt;
  text-align: center;
}
#download_img{
  width: 20%;

}
#font_child, #color_child{
  font-family: "Hansief";
  font-size: 12pt;
}
#monstergreen{
  font-family: "Hansief";
  font-size: 15pt;
  text-align: center;
  color: white;
  height: 30px;
  background-color: #8ba753;
  padding:0;
  margin: 0;
}
#darkgray{
  font-family: "Hansief";
  font-size: 15pt;
  text-align: center;
  color: white;
  height: 30px;
  margin: 0;
  padding:0;
  background-color: #504e4b;
}
#livingcoral{
  font-family: "Hansief";
  font-size: 15pt;
  text-align: center;
  color: white;
  height: 30px;
  margin: 0;
  padding:0;
  background-color: #FF6F61;
}

#lightgray{
  color: #504e4b;
  font-family: "Hansief";
  font-size: 15pt;
  text-align: center;
  color: #504e4b;
  height: 30px;
  margin: 0;
  padding:0;
  background-color: #eef0ef;

}

#nina{
  font-family: "Hansief";
  font-size: 15pt;
  text-align: center;
}

#ninab{
  font-family: "1Abraham";
  font-size: 15pt;
  text-align: center;
}

#img_plate{
  margin-left: auto;
}
