.shop_main {
  border: 1px solid black;
  height: 500px;
  padding-top: 30px;
}

.center_shop_div {
  margin-left: 300px;
  margin-right: 200px;
}

.Shopping_cart {
  width: 940px;
}

.list_cart {
  width: 700px;
  min-height: 291px;
  float: left;
  border: 1px solid #d9d9d7;
}

.list_set {
  border-bottom: : 1px solid #d9d9d7;
  width: 700px;
  height: 70px;
}

.cart_total {
  width: 950px;
  height: auto;
}

.cart_list1 {
  width: 100px;
  float: left;
  margin-left: 20px;
  display: inline;
}

#cart_img {
  width: 96px;
  height: 66px;
}

.cart_list2 {
  width: 171px;
  float: left;
  height: 58px;
  margin-left: 20px;
  padding-top: 12px;
  vertical-align: middle;
}

.cart_list3 {
  width: 184px;
  float: left;
  height: 48px;
  margin-left: 20px;
  padding-top: 20px;
  align-self: center;
}

.cart_list4 {
  width: 30px;
  float: left;
  height: 48px;
  margin-left: 20px;
  padding-top: 20px;
  align-self: center;
}

.cart_list5 {
  width: auto;
  float: right;
  height: 48px;
  margin-right: 50px;
  padding-top: 20px;
  align-self: center;
}

.payment_list {
  width: 240px;
  height: 290px;
  float: left;
  border: 1px solid #d9d9d7;
    border-radius: 2px;
}

#cart_payment {
  background-color: rgba(151, 177, 98, 129);
  border-radius: 2px;
  padding: 16px;
  margin-bottom: 20px;
  width: 240px;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.total_amount {
  border-bottom: 1px solid #d9d9d7;
  height: 130px;
  text-align: center;
}

#total_price_span {
  font-size: 24pt;
  padding: 10px;
  font-family: ninab;

}

#page_box {
  height: 400px;
  padding-right: 240px;
}
.id_regist_div{
  padding:15px;
  text-align: right;
}
.id_regist_span{
  font-size: 14pt;
  font-family: ninab;
}
#list_cart_cate{
  width: 700px;
}
