

body{
  background-color: rgb(245,245,244,230);
}
a{
  text-decoration: none;
  color: #444444;
}
a:link {
  color: #444444;
}
a:visited {
  color: #444444;
}
a:hover {
  cursor: pointer;
}

@font-face{
  font-family:"UniNeue-HeavyItalic"; /*폰트 패밀리 이름 추가*/
  src:url("../font/UniNeue-HeavyItalic.TTF"); /*폰트 파일 주소*/
}
@font-face{
  font-family:"UniNeue-Light"; /*폰트 패밀리 이름 추가*/
  src:url("../font/UniNeue-Light.TTF"); /*폰트 파일 주소*/
}
#header *{
  font-family: "UniNeue-HeavyItalic";
}
body *{
  font-family: "UniNeue-Light";
  font-weight: bold;
}
section *{
  font-family: "UniNeue-Light";
  font-weight: bold;
}
h1{
  font-family: "UniNeue-HeavyItalic";
  font-weight: bold;
}


#header {
  margin:auto;
  margin-bottom:5px;
  max-width: 1200px;

}
section{
  background: #f5f5f4;
}
/* --------------------------------------------------------------------------------------------- */
#header_logout_form_div1 {
  border-bottom: 0.1px solid lightgray;
  height:35px;

}

/* ----------------------------- */
#header_logout_form_div1_1 {
  display: inline-block;
  width: 400px;
  font-size: 8pt;
  vertical-align: middle;
  font-weight: bold;
}

#header_logout_form_div1_1_ul {
  margin: 0;
  padding: 0;
  float: left;
}

.header_logout_form_div1_1_ul_li {
  /* list-style: none; */
  display: inline-block;
}

/* ----------------------------- */
/* ----------------------------- */
#header_logout_form_div1_2 {
  display: inline-block;
  width: 400px;
  float: right;
  font-size: 9pt;
}

#header_logout_form_div1_2_ul {
  margin: 0;
  padding: 0;
  float: right;
}
.header_logout_form_div1_2_ul_li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.header_logout_form_div1_2_ul_li img{
  width:30px;
}


#header_logout_form_div1_2_ul_li_div1:hover #header_logout_form_div1_2_ul_li_div1_div{

  margin-top:30px;
  background-color: rgb(245,245,244,230);
  width:100px;
  height:40px;
  border:1px solid lightgray;
  float: left;
  z-index: 1;
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div1_div{
  position: absolute;
  width:0;
  height:0;
  overflow: hidden;
}
#header_logout_form_div1_2_ul_li_div1_div_button{
  width:100%;
  height:40px;
  background-color: rgb(245,245,244,230);
  color:rgba(139,167,83,118);
  border-color:rgba(139,167,83,118);
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div2:hover #header_logout_form_div1_2_ul_li_div2_div{

  margin-top:30px;
  background-color: rgb(245,245,244,230);
  width:100px;
  height:40px;
  border:1px solid lightgray;
  float: left;
  z-index: 1;
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div2_div{
  position: absolute;
  width:0;
  height:0;
  overflow: hidden;
}
#header_logout_form_div1_2_ul_li_div2_div_button{
  width:100%;
  height:40px;
  background-color: rgb(245,245,244,230);
  color:rgba(139,167,83,118);
  border-color:rgba(139,167,83,118);
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div3:hover #header_logout_form_div1_2_ul_li_div3_div{
  margin-top:30px;
  background-color: rgb(245,245,244,230);
  width:100px;
  height:40px;
  border:1px solid lightgray;
  float: left;
  z-index: 1;
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div3_div{
  position: absolute;
  width:0;
  height:0;
  overflow: hidden;
}
#header_logout_form_div1_2_ul_li_div3_div_button{
  width:100%;
  height:40px;
  background-color: rgb(245,245,244,230);
  color:rgba(139,167,83,118);
  border-color:rgba(139,167,83,118);
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div4:hover #header_logout_form_div1_2_ul_li_div4_div{
  margin-top:30px;
  background-color: rgb(245,245,244,230);
  width:100px;
  height:40px;
  border:1px solid lightgray;
  float: left;
  z-index: 1;
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div4_div{
  position: absolute;
  width:0;
  height:0;
  overflow: hidden;
}
#header_logout_form_div1_2_ul_li_div4_div_button{
  width:100%;
  height:40px;
  background-color: rgb(245,245,244,230);
  color:rgba(139,167,83,118);
  border-color:rgba(139,167,83,118);
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div6:hover #header_logout_form_div1_2_ul_li_div6_div{
  margin-top:30px;
  background-color: rgb(245,245,244,230);
  width:100px;
  height:40px;
  border:1px solid lightgray;
  float: left;
  z-index: 1;
  border-radius: 5px;
}
#header_logout_form_div1_2_ul_li_div6_div{
  position: absolute;
  width:0;
  height:0;
  overflow: hidden;
}
#header_logout_form_div1_2_ul_li_div6_div_button{
  width:100%;
  height:40px;
  background-color: rgb(245,245,244,230);
  color:rgba(139,167,83,118);
  border-color:rgba(139,167,83,118);
  border-radius: 5px;
}

#header_logout_form_div1_2_ul_li_div5{
  height:20px;
}
#header_logout_form_div1_2_ul_li_div5_div{
  position: absolute;
  height:0;
  width:0;
  overflow: hidden;
  background-color: rgb(245,245,244,230);
}

#header_logout_form_div1_2_ul_li_div5:hover #header_logout_form_div1_2_ul_li_div5_div{
  margin-top:2px;
  width:65px;
  height:150px;
  z-index: 1;
  border-radius: 5px;
  font-size: 10pt;
  border:1.5px solid;
  border-color: rgba(139,167,83,118);
}
#header_logout_form_div1_2_ul_li_div5_div div:hover{
  background-color: rgb(220,220,220,230);
}
#header_logout_form_div1_2_ul_li_div5_div_border_bottom{
  border-top: 0.1px solid lightgray;
  margin-top:3px;
}


/* ----------------------------- */
/* --------------------------------------------------------------------------------------------- */
#header_logout_form_div2 {
  height: 70px;
  vertical-align: middle;
}

#header_logout_form_div2_1 {
  display: inline-block;
  float: left;
}

#header_logout_form_div2_2{
  position: relative;
  width: 500px; /* 추가 */
  margin: 0;
  padding: 0;
  float: left;
}
#header_logout_form_div2_2 ul{
  padding-left :15px;
  margin-top: 20px;
}
#header_logout_form_div2_2_ul {  /* 추가 */
  margin: 0;
  padding: 0;
  text-align: center;
  color:#444444;

}

.header_logout_form_div2_ul1_li_a {  /* 메인 메뉴에 패딩 추가 */
  padding-left: 30px;
  color:#444444;
}

.subheader_logout_form_div2_ul1_li_a { /* 서브 매뉴 속성 추가 */
  display: block;
  width: 180px;
  font-size: 20px;
  margin-top:20px;
  margin-bottom:20px;
}

.header_logout_form_div2_ul1_li {
  list-style-type: none;
  display: inline-block;
  font-size: 20pt;
}

.submenu {
  /* margin-left: 30px; */  /*글씨 바로 밑으로 오게 하려면*/
  position: absolute;
  height: 0px;
  overflow: hidden;
}

.submenu li {
  display: inline-block;
  margin-left:20px;
}

.header_logout_form_div2_ul1_li:hover .submenu {  /* 값 변경 */
  transition: 0.25s;
  display: block;
  height: auto;
  position: absolute;
  left: 0;
  top: 30px;
  width: 700px;
  background-color: rgb(245,245,244,230);
}

.subheader_logout_form_div2_ul1_li_a:hover {  /* 추가 */
  color: green;
}

#logo {
  height: 65px;
}

#header_logout_form_div2_3 {
  padding-top: 2px;
  float: right;
}
/* ------------------------------버튼------------------------------------------------------ */
button:hover{
  cursor: pointer;
}
#myBtn {
  background-color: rgba(139,167,83,118);
  color:rgb(245,245,244,230);
  border: none;
  border-radius: 2px;
}
#myBtn:hover{
  background-color: rgba(151,177,98,129);
  color:rgb(245,245,244,230);
  border: none;
  border-radius: 2px;
}
#myBtn2 {
  font-weight: bold;
  background-color: rgb(245,245,244,230);
  color:rgba(139,167,83,118);
  border: none;
}
#continue{
  width:150px;
  height:33px;
  margin-left:30px;
  font-weight: bold;
  background-color: rgba(139,167,83,118);
  border:0px;
  border-radius: 2px;
  color:rgb(245,245,244,230);
}
#continue:hover{
  width:150px;
  height:33px;
  margin-left:30px;
  font-weight: bold;
  background-color: rgba(151,177,98,129);
  border-color: rgba(139,167,83,118);
  border-radius: 2px;
  color:rgb(245,245,244,230);
}

/* ------------------------------텍스트 섹션 추가부분------------------------------------------------------ */
#text_category{
  text-align: center;
  color:rgb(245,245,244,230);
}
#text_category_text_div_span1{
  font-family:"UniNeue-HeavyItalic";
  font-size: 40pt;
}
#text_category_text_div_span2{
    font-family:"UniNeue-Light";
  font-size: 25pt;
}
#text_category_text_div{
  background-image: url("../img/indexbarlogo.png");
  height: 400px;
  width:100%;
  background-repeat: no-repeat;
}
/* ------------------------------템플릿 추가 부분 ------------------------------------------------------ */
#categories_section {
  height: 270px;
  border-bottom: 1px solid rgb(185, 185, 185);
  border-top: 1px solid rgb(185, 185, 185);
  margin-left: 10%;
  margin-right:10%;
}
.featured_title {
  font-size: 14pt;
  color: rgba(81,79,76,74);
}
.container {
  margin-top: 10px; /*확인차 10 줌 지워야 됨*/
  height: 150px;
  width: auto;
  text-align:center;
}
.category{
  display: inline;
  padding:15px;
}
.category img {
  width: 160px;
  border-radius: 2px;
  box-shadow: 3px 5px 12px rgba(192, 192, 191, 180);
}
.category img:hover {
  box-shadow: 8px 13px 20px rgba(192, 192, 191, 180);
  border-radius: 2px;
}
h2{
  text-align:center;
}

/*------------------------------------로그인 모달창---------------------------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 760px;
  height : 550px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.div_float{
  float:left;
  width : 50%;
  height : 520px;
  /* border: 1px solid black; */
}


div#div_mem button.modal_text{
  border:none;
  width : 90%;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
}
#gloginBtn {
  background-color:#ff5e5e;
  color: white;
}

#kloginBtn {
  background-color: #f4e42c;
  color:#0f0505;
}

#div_mem table{
  /* border: 1px solid black;
  border-collapse: collapse; */
  height: 100%;
}

#div_mem tr, td{
  text-align: center;
}

hr{
  display: inline-block;
}

#div_mem input{
  border-radius: 5px;
  border: 2px solid #cfcfcf;
  outline: none;
  height: 30px;
}
#div_mem input.modal_text{
  width : 90%;
  text-indent : 1.5em;
}
#div_mem input.modal_btn{
  width : 91%;
  height: 35px;
  padding: 1px 0px;
  cursor: pointer;
  border: 2px solid #67b57a;
  background-color: #67b57a;
  color : white;
}
#div_mem input#email_btn{
  margin-bottom: 20px;
}
#div_mem input#sign{
  float: left;
  border: none;
  background-color: white;
  color : #67b57a;
  font-size: 1.5em;
  cursor: pointer;
}
/* #div_mem input #forget_pw{
  width:30%;
  margin:0 auto;
} */

/* ----------------------------------search 창  css----------------------------------- */
#header_logout_form_div2_3 {
  position: relative;
  height: 50px;
}

#header_logout_form_div2_3_ul {
  position: absolute;
  height: 0px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: rgb(245,245,244,230);
}

#header_logout_form_div2_3_a {
  height: 100%;
  width: 79px;
}

.header_logout_form_div2_3_ul_li{ /* 서브 매뉴 속성 추가 */
  display: block;
  font-size: 15px;
  top:5px;
  padding: 5px;
  height:auto;
}

#header_logout_form_div2_3:hover #header_logout_form_div2_3_ul {  /* 값 변경 */
  position: absolute;
  display: block;
  height: auto;
   margin-top: 5px;
  /*padding-top:20px; */

  left: 0;
}
#change_img{
  position: relative;
  margin-top:7px;
}
#search_text{
  text-decoration: none;
  border:0px;
  background-color:rgb(245,245,244,230);;
  vertical-align: top;
  height: 28px;
}
#search_text:focus{
  text-decoration: none;
  border:0px;
  background:rgb(245,245,244,230);
  outline: none;
}
#search_img{
  vertical-align: middle;

}
#search_div{
float: right;
height:100%;
}
#header_logout_form_div2_3_span{
  height: 100%;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;
  color: rgba(64,64,64,68);
}

.header_logout_form_div5{
  border :2px solid lightgray;
  display: inline-block;
  float: right;
  margin-top: 20px;
  height: 30px;
}
.header_logout_form_div5 a{
  text-decoration: none;
}




/* ---------------------------------------------- */
