/* *{
  border : 1px solid red;
} */

#discussion_div a{
  text-decoration: none;
}

#discussion_div button{
  border : none;
  width : 70px;
  height : 20px;
  opacity: 1;
  background-color: rgba(151, 177, 98, 129);
  padding: 2px;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: 0;
}

#discussion_div button:hover{
  color: #fff;
  border : none;
  width : 70px;
  height : 20px;
  background-color: rgba(151, 177, 98, 129);
  opacity: 0.8;
}

#write_save_button{
  background-color: rgba(151, 177, 98, 129);
  border : none;
  width : 60px;
  height : 20px;
  color : rgb(245,245,244,230);
  opacity: 1;
  float: right;
}

#write_save_button:hover{
  background-color: rgba(151, 177, 98, 129);
  border : none;
  width : 60px;
  height : 20px;
  color : rgb(245,245,244,230);
  opacity: 1;
  float: right;
}

.clear { clear:both; }

#discussion_div{
  clear : both;
  margin-left: 20%;
  margin-right: 20%;
}

#discussion_title_div1{
  font-size: 30pt;
  font-family: 'nina';
  text-align: center;
  float: left;
}

#discussion_search_div1{
  width : 260px;
  float: right;
}


#discussion_search_div1 button{
  margin:0;
}

#list_item ul{
  border-bottom: 0.1px solid #e0dedb;
  margin-top : 2px;
}

#general_img_div{
  margin : 0;
  float: left;
}

#general_ul{
  width: 95%;
  float : left;
  margin : 0;
  padding-left: 20px;
  padding: 15px;
}

#general_ul li{
  list-style: none;
  display: inline;
}

#discussion_write_button{
  text-align: right;

}
#list_top_title ul{
  margin:0;
  padding:0;
}

#list_top_title ul li{
  font-family: 'nina';
  list-style: none;
  font-size: 25pt;
  background-color: rgb(245,245,244,230);
  color: #444444;
  border-bottom: 0.5px solid #e0dedb;
  padding-top: 7px;
  padding-bottom: 7px;
}

#topics_title{

      list-style: none;
      font-size: 25pt;
      background-color: rgb(245,245,244,230);
      color: #444444;
      border-bottom: 0.5px solid #e0dedb;
      padding-top: 7px;
      padding-bottom: 7px;
}

#page_num{
  text-align: center;
}

#view_main_table{
  width : 100%;
  text-align: left;
}

#view_main_table th, #view_main_table td, #view_main_table tr{

  text-align: left;
}

#view_ripple_table{

  width : 100%;
}

#view_ripple_table th, #view_ripple_table td, #view_ripple_table tr{

  text-align: left;
}

/* The Modal (background) */


/* The Close Button */
.write_discussion_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.write_discussion_close:hover, .write_discussion_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#write_form_table{
  border-collapse: collapse;
  border: 1px solid #ff6d70;
  text-align: center;
}

#write_form_table tr, #write_form_table td{
  border: 1px solid #e0dedb;
  text-align: center;
}

#id_td{
  font-size : 8pt;
}

#date_td{
  font-size : 10pt;
}

#subject_column{
  font-size : 15pt;
  font-weight: bold;
}
