/* *{
  border : 1px solid red;
} */

#discussion_div a{
  text-decoration: none;
}

#discussion_div button{
  background-color: #ff6d70;
  border : none;
  width : 60px;
  height : 20px;
  color : rgb(245,245,244,230);
  opacity: 1;
}

#discussion_div button:hover{
  background-color: #ff6d70;
  border : none;
  width : 60px;
  height : 20px;
  color : rgb(245,245,244,230);
  opacity: 0.8;
}

#write_save_button{
  background-color: #ff6d70;
  border : none;
  width : 60px;
  height : 20px;
  color : rgb(245,245,244,230);
  opacity: 1;
  float: right;
}

#write_save_button:hover{
  background-color: #ff6d70;
  border : none;
  width : 60px;
  height : 20px;
  color : rgb(245,245,244,230);
  opacity: 1;
  float: right;
}

.clear { clear:both; }

#discussion_div{
  clear : both;
  margin-left: 20%;
  margin-right: 20%;
}

#discussion_title_div1{
  font-size: 2em;
  text-align: center;
  width : 180px;
  float: left;
}

#discussion_search_div1{
  width : 260px;
  float: right;
}


#discussion_search_div1 button{
  margin:0;
}

#list_item ul{
  border-bottom: 0.5px dotted #ff6d70;
  margin-top : 2px;
}

#general_img_div{
  margin : 0;
  float: left;
}

#general_ul{
  float : left;
  margin : 0;
  padding-left: 20px;
}

#general_ul li{
  list-style: none;
  display: inline;
}

#discussion_write_button{
  text-align: right;
}

#list_top_title ul{
  margin:0;
  padding:0;
}

#list_top_title ul li{
  font-family: 'nina';
  list-style: none;
  font-size: 20pt;
  font-weight: bold;
  background-color: #ff6d70;
  color: rgb(245,245,244,230);
  padding-top: 7px;
  padding-bottom: 7px;
}

#topics_title{
  font-family: 'nina';
  list-style: none;
  font-size: 20pt;
  font-weight: bold;
  background-color: #ff6d70;
  color: rgb(245,245,244,230);
  padding-top: 7px;
  padding-bottom: 7px;
}

#page_num{
  text-align: center;
}

#view_main_table{
  width : 100%;
  text-align: left;
}

#view_main_table th, #view_main_table td, #view_main_table tr{

  text-align: left;
}

#view_ripple_table{

  width : 100%;
}

#view_ripple_table th, #view_ripple_table td, #view_ripple_table tr{

  text-align: left;
}

/* The Modal (background) */


/* The Close Button */
.write_discussion_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.write_discussion_close:hover, .write_discussion_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#write_form_table{
  border-collapse: collapse;
  border: 1px solid #8ba753;
  width : 100%;
  text-align: center;
}

#write_form_table tr, #write_form_table td{
  text-align: center;
}

#id_td{
  font-size : 8pt;
}

#date_td{
  font-size : 10pt;
}

#subject_column{
  font-size : 15pt;
  font-weight: bold;
}
