body{
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}
.section_freegoods{
  background-color: rgba(82,92,97,84);
  text-align: center;
  margin:0;
  padding:0;
}
.board_div{
  width:100%;
}
.board_div a{

  color:black;
  font-weight: bold;
  text-decoration: none;
  font-size:8pt;
}
.board_div a:visited{
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.board_div a:link{
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.img_div{
  display: inline-block;
}
#main_img{
  width:250px;
  height:200px;
}
figure.snip1368 {
position: relative;
overflow: hidden;
margin: 7.1px;
width:250px;
height:250px;
/*   width: 100%; */
color: black;
line-height: 1.4em;
border:2px solid rgb(245,245,244,230);
border-radius: 5px;
background-color: rgb(245,245,244,230);
}

.section_freegoods figure.snip1368:hover{
  box-shadow: 8px 13px 20px rgba(30, 30, 30, 35);
  border-radius: 2px;
}

figure.snip1368 figcaption {
position: absolute;
top: 0%;
z-index: 1;
text-align: right;
transform: translateX(400px);
}

figure.snip1368 .icons {
margin-top: 10px;
}

figure.snip1368 #checkimg {
padding: 0px 8px;
display: inline-block;
font-size: 24px;
color: black;
text-align: center;
opacity: 0.7;
vertical-align: middle;
}

figure.snip1368 #checkimg:hover {
opacity: 1;
transition: all 0.5s ease;
}
.checkimg_span{
  vertical-align: middle;
}
#like{
z-index: 1;
}

figure.snip1368:hover figcaption{
  transform: translateX(220px);
  transition: all 0.5s ease;
}
figure.snip1368.hover figcaption {

}

.hover_img {
position: absolute;
top: 20px;
left: 20px;
width: 25px;
height: 25px;
text-align: center;
/* 추가된 부분 */
opacity: 0;
transform: scale(2);
}
meta
.icons span {
color: black;
}
.list_title_div_a_float_right{
  float:right;
}
/* 추가된 부분 */
.snip1368:hover .hover_img {
opacity: 1;
transition: all 0.5s ease;
}
.list_title_div{
  color:black;
  font-size:8pt
}
.list_title_div div{
  text-align: left;
}
.go_free_goods_img_class:hover{
  cursor: pointer;
}

/*--------------------------------------------------------------------------------*/
.section_freegoods h1, .section_freegoods h2{
  margin:0;
  padding:0;
  color: rgb(245,245,244,230);
  font-size: 25pt;
}
#counter_label{
  color: rgb(245,245,244,230);
  text-align: center;
  width:300px;
  font-size: 15pt;
}
#counter{
  text-decoration: none;
  border:1px solid rgba(82,92,97,84);
  background-color: rgba(82,92,97,84);
  color: black;
  text-align: center;
  width:300px;
  font-size: 15pt;
  outline: none;
}
#counter:focus{
  text-decoration: none;
  border:1px solid rgba(82,92,97,84);
  background-color: rgba(82,92,97,84);
  color: black;
  text-align: center;
  width:300px;
  font-size: 15pt;
  outline: none;
}
/*--------------------------------*/
.section_handpicked figure.snip1368:hover{
  box-shadow: 8px 13px 20px rgba(192, 192, 191, 180);
  border-radius: 2px;
}
.tell_friends_section{
  background-color: rgba(54,59,63,55);
  height:80px;
}
.tell_friends_section{
  text-align: center;
}
.tell_friends_section span{
  padding:0;
  margin:0;
  font-size:16pt;
  color:rgb(245,245,244,230);
}
.tell_friends_section button{
  font-size: 15pt;
  width:200px;
  height:40px;
  background-color: rgba(139,167,83,118);
  color:rgb(245,245,244,230);
  border:none;
  border-radius: 5px;
  margin:0;
  padding:0;
}
.tell_friends_section button:hover{
  width:200px;
  height:40px;
  background-color: rgba(151,177,98,129);
  color:rgb(245,245,244,230);
  border: none;
  border-radius: 5px;
  margin:0;
  padding:0;
}
/*--------------------------------*/
.section_handpicked{
  text-align: center;
  background-color: rgb(245,245,244,230);
}
.section_handpicked h1{
  padding:0;
  margin:0;
  color:rgb(127,127,127,120);
  font-size: 24pt;
}
.more_handpicked_section{
  text-align: center;
  font-size: 13pt;
  font-weight: bold;
}
.more_handpicked_section a:hover{
  color:rgb(107,107,107,100);
}
.checkimg:hover{
  cursor: pointer;
}
