#myModal_1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding:0;
  margin:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content_1 {
  background-color: #fefefe;
  border-radius: 10px;
  margin:auto;
  margin-top:100px;
  padding: 10px;
  border: 1px solid #888;
  width: 40%;
  height:450px;
}

/* The Close Button */
.close_1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_1:hover,
.close_1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn_1 {
  background-color: rgba(151, 177, 98, 129);
  padding: 2px;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: 0;
}
