#privacy{
  margin-left: 20%;
  margin-right: 20%;
  font-family: nina;
}

h1{
  font-family: ninab;
  font-size: 30pt;
  border-bottom: 1px solid lightgray;
}

h2{
  text-align: left;
  font-family: ninab;
}
