*{
  /* border:0.1px solid red; */
}
#main_img{
  width:250px;
  height:200px;
}
figure.snip1368 {
position: relative;
overflow: hidden;
margin: 7.1px;
width:250px;
height:250px;
/*   width: 100%; */
color: black;
line-height: 1.4em;
}

figure.snip1368 * {
transition: all 0.4s ease;
}

figure.snip1368 figcaption {
position: absolute;
top: 0%;
z-index: 1;
text-align: right;
transform: translateX(400px);
}

figure.snip1368 .icons {
margin-top: 10px;
}

figure.snip1368 #checkimg {
padding: 0px 8px;
display: inline-block;s
font-size: 24px;
color: black;
text-align: center;
opacity: 0.7;
}

figure.snip1368 #checkimg:hover {
opacity: 1;
transition: all 0.35s ease;

}
#like{
z-index: 1;
}

figure.snip1368:hover figcaption,
figure.snip1368.hover figcaption {
transform: translateX(210px);
}

.hover_img {
position: absolute;
top: 20px;
left: 20px;
width: 25px;
height: 25px;
text-align: center;
/* 추가된 부분 */
opacity: 0;
transform: scale(2);
transition: all .3s linear;
}
meta
.icons span {
color: black;
}
.list_title_div_a_float_right{
  float:right;
}
/* 추가된 부분 */
.snip1368:hover .hover_img {
opacity: 1;
}
.list_title_div{
  color:black;
  font-size:10pt;
}
.list_title_div span{
  color:black;
  font-size:15pt;
}
#product_write_button{
  display : inline;
  float : right;
  margin-right: 10px;
}

.likes_img_class:hover{
  cursor: pointer;
}

#read_more_button{
  outline: none;
  border: none;
  width: 263px;
  height:50px;
  font-size: 13pt;
  color: #7d7b78;
  font-family: "UniNeue";
  border-radius:5px;
}
.filter_container button{
  border-radius: 3px;
}
#page_num1{
  font-size: 14pt;
font-family: nina;
}
.page_button2{
  position: relative;
  cursor: pointer;
  outline: 0;
  border-radius: 2px;
  user-select: none;
  min-height: 34px;
  line-height: 32px;
  background-color: #8ba753;
  border: 1px solid #8ba753;
  color: #FFF;
}
