div.shop_write_wrap{
  /* margin-left: 12%;
  margin-right: 12%; */
  margin: 0 auto;
  max-width: 960px;
}
div.shop_write_wrap div{
  word-break: break-all;
}
/* .shop_write_wrap input:focus{

} */
i.fas fa-check{
  font-size:20px;
  color:green;
}
.shop_write_wrap input#shop_write_title{
  width: 95%;
  font-size: 3em;
  text-indent: 5pt;
  margin-bottom: 10px;
}
.shop_write_wrap input[type=text]{
  border: 1px solid rgb(230,230,230,230);
  outline: none;
  background-color: rgb(250,250,250,230);
  margin: 2px;
}
.shop_write_wrap input[type=text]:focus{
  background-color: white;
}
.shop_write_wrap input#shop_write_category{
  font-size: 1.5em;
}

div.shop_write_category{
  width : 63%;
  color: #7d7b78;
  float: left;
  padding: 0;
  margin:0;
  display: inline-block;
  /* border:1px solid green; */
}

select.shop_write_select{
  border: 1px solid rgb(230,230,230,230);
  outline: none;
  background-color: rgb(250,250,250,230);
  font-size: 1.2em;
  color: #7d7b78;
}
div.shop_write_container{
  width : 63%;
  float: left;
  height: 1400px;
  /* border:1px solid blue; */
}

div.shop_write_container img{
  border-radius: 5px;
}

div.shop_write_gal{
  margin-bottom: 10px;
  max-height: 600px;
  padding: 3px;
  border-radius: 5px;
  overflow: hidden;
  border:1px solid #dfd8d8;
}



div.shop_write_narrow{
  width : 29%;
  margin-left: 4%;
  height : 1130px;
  display: inline-block;
  /* border:1px solid blue; */
}
div.shop_write_upload{
  width : 100%;
  max-height: 250px;
  color: #7d7b78;
  padding: 0;
  margin:2px;
  display: block;
  /* border:1px solid blue; */
}
div.shop_write_sticky{
  width : 100%;
  max-width: 355px;
  margin-left:1%;
  border-radius: 5px;
  border: 1px solid #dfd8d8;
  border-top: 5px solid #70a330;
  background-color: #fff;
}

div#shop_write_sticky_product_info{
  height:100px;
}
div#shop_write_sticky_purchase{
  height:440px;
}
div.shop_write_sticky_inner{
  height: 40%;
  margin: 3% 5%;
  /* border: 1px solid #e2e2e2; */
}
div.shop_write_sticky_inner_btn{
  width:100%;
  text-align : center;
  /* border: 1px solid #e2e2e2; */
}
div#shop_write_sticky_product_info button{
  width:100%;
  height: 100%;
  font-size: 1.05em;
  border: 1.5px solid #70a330;
}
div.shop_write_sticky_inner p{
  margin: 0;
}


div#shop_write_div1{
  height: auto;
  margin-bottom: 10px;
  /* border:1px solid #8b8b8b; */
}
div.shop_write_minigal_set{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  /* border:1px solid #dfd8d8; */
}
div.shop_write_minigal{
  display: inline-block;
  width: 24%;
  margin : 0 auto;
}

div#shop_write_div2{
  height: 120px;
  margin-top: 35px;
  margin-bottom: 35px;
  border-top: 1px solid #c1bebe;
  border-bottom: 1px solid #c1bebe;
}

div.shop_write_file_info{
  display: inline-block;
  width: 80%;
  margin: 10px 45px 0px 0px;
}
div.shop_write_file_info h2{
  text-align: left;
  margin: 5px;
}

div.shop_write_file_info#file_type{
  /* border-right: 1px solid #c1bebe; */
}


div#shop_write_detail{
  height: 150px;
  border-bottom: 1px solid #c1bebe;
  margin-bottom: 40px;
}

div#shop_write_qna{
  height: 800px;
  border-bottom: 1px solid #c1bebe;
  margin-bottom: 40px;
}


div#shop_write_tags{
  color: #7d7b78;
  padding-top:7%;
}


div#shop_write_tags div{
  font-size: 2em;
  border: 1px solid rgb(230,230,230,230);
  padding: 0px 5px;
  margin: 10px 5px;
  display: inline-block;
}

#shop_write_upload{
  max-width: 350px;
  text-align: center;
}
#shop_write_upload div:hover{
  border: 4px solid #70a330;
}

#shop_write_upload div{
  padding-top:5%;
  height: 50%;
}
#shop_write_upload span.s_w_upload_span{
  font-size: 1.8em;
}
#shop_write_upload span.s_w_upload_span:hover {
  background-color: #70a330;
  color: white;
}

#shop_write_upload span.s_w_upload_span:active {
  background-color: #367c36;
}


input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* div#shop_write_detail textarea{
  width: 90%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(230,230,230,230);
  outline: none;
  resize: none;
  background-color: rgb(245,245,244,230);
  margin: 2px;
  font-size: 2.0em;
} */
/* input.shop_write_hash_tags{
  border: 1px solid rgb(230,230,230,230);
  font-size: 1.2em;
  display: inline-block;
  width: auto;
} */
/* div.shop_write_dummy{
  border: 1px solid rgb(230,230,230,230);
  background-color: white;
} */
