div.shop_view_wrap{
  margin: 0 auto;
  max-width: 1440px;
  margin-left: 10%;
  display: inline-block;
}

div.shop_view_category{
  width : 100%;
  height: 50px;
  color: #7d7b78;
  font-size: 1.8em;
  display: block;
  padding: 20px 0px 0px 0px;
  margin:0;
  /* border:1px solid green; */
}
div.shop_view_container{
  width : 66%;
  float: left;
  display: inline-block;
  word-break: break-all;
  /* border:1px solid blue; */
}
img.shop_view_mySlides{
  width:auto; height: auto;
  max-height: 600px;
  margin: 0 auto;
}

div.shop_view_container img{
  border-radius: 5px;
}
div.shop_view_gal{
  margin-bottom: 10px;
  max-height: 600px;
  padding: 3px;
  border-radius: 5px;
  overflow: hidden;
  border:1px solid #dfd8d8;
  text-align: center;
  background-color: white;
}
/* div.shop_view_narrow{
  width : 31%;
  margin-left: 3%;
  height : 2100px;
  display: inline-block;
  border:1px solid blue;
} */
div.shop_view_sticky{
  width : 100%;
  max-width: 355px;
  height: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-left:1%;
  border-radius: 5px;
  border: 1px solid #dfd8d8;
  border-top: 5px solid #70a330;
  background-color: #fff;
  display: inline-block;
}
div.shop_view_sticky_outter{
  width : 97%;
  margin: 3% 1%;
  /* border: 1px solid #e2e2e2; */
}
div#shop_view_sticky_product_info{
  height:30%;
}
div#shop_view_sticky_purchase{
  height:60%;
}
div.shop_view_sticky_inner{
  height: 40%;
  margin: 3% 5%;
  /* border: 1px solid #e2e2e2; */
}
div.shop_view_sticky_inner_btn{
  width:100%;
  text-align : center;
  /* border: 1px solid #e2e2e2; */
}
div.shop_view_sticky_inner_btn button{
  width:100%;
  height: 100%;
  font-size: 1.4em;
  border: 1.5px solid #70a330;
  outline: none;
}
div.shop_view_sticky_inner p{
  margin: 0;
}


div#shop_view_div1{
  height: auto;
  margin-bottom: 10px;
  /* border:1px solid #8b8b8b; */
}
div.shop_view_minigal_set{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  /* border:1px solid #dfd8d8; */
}
div.shop_view_minigal{
  display: inline-block;
  width: 24%;
  margin : 0 auto;
}

div#shop_view_div2{
  height: 120px;
  margin-top: 35px;
  margin-bottom: 35px;
  border-top: 1px solid #c1bebe;
  border-bottom: 1px solid #c1bebe;
  text-indent: 10px;
}

div.shop_view_file_info{
  display: inline-block;
  width: 40%;
  margin: 10px 45px 0px 0px;
}
div.shop_view_file_info h2{
  text-align: left;
  margin: 5px;
}

div.shop_view_file_info#file_type{
  border-right: 1px solid #c1bebe;
}

div#shop_view_div3{
  width: 98%;
  border:none;
  background-color: rgb(250,250,250,230);
  word-break: break-all;
}
div.s_v_font_div{
  border:none;
  word-break: break-all;
  background-color: rgb(250,250,250,230);
}
div.s_v_font_div input{
  width: 99%;
  border: none;
  outline: none;
  background-color: rgb(250,250,250,230);
  margin: 5px 5px 20px 5px;
}
div#s_v_font_div1{
  text-align: right;
}
input#font_face_input{
  width: 35%;
  font-size: 45px;
  color: #7d7b78;
  text-indent: 5px;
}
div#s_v_font_div2{
  margin-top: 10px;
  word-break: break-all;
}
input#font_face_output1{
  font-size: 25px;
}
input#font_face_output2{
  font-size: 60px;
}
input#font_face_output3{
  font-size: 130px;
}

div#shop_view_detail{
  height: 250px;
  border-bottom: 1px solid #c1bebe;
  margin-bottom: 40px;
}

div#shop_view_qna{
  height: 800px;
  border-bottom: 1px solid #c1bebe;
  margin-bottom: 40px;
}
